@import "../../components/variables/variables.scss";

.privacy {
    padding-top: calc(80px + 134px);
    padding-bottom: 80px;
    background-color: $background_color2;
    ul {
        li {
            margin: 20px 0;
        }
    }
    h5 {
        font-size: 30px;
    }
    p {
        margin: 5px 0;
    }
}
